{
	"jbuniversal.produkt.bootstrap": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "80",
				"width_popup": "0",
				"height_popup": "0",
				"element": "a4ad57ee-1047-4a2f-b5cb-61c4192b9261"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "3f6b1ac8-4350-4ea1-b333-91851f930bfe"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "3f6b1ac8-4350-4ea1-b333-91851f930bfe"
			}
		}
	}
}